@import './common.scss';

.myaccount {
  color: $main-br-1;
  margin: 40px 0;
  text-align: center;

  &__container {
    border-radius: 25px;
    box-shadow: $shadow;
    margin: 20px 0;
    padding: 50px;
    > h3 {
      color: $main-br-2;
      padding: 10px;
    }
  }
  &__form {
    color: antiquewhite;
    justify-content: center;
    display: grid;
    grid-template-columns: 20% 30% 24% 16%;
    align-items: center;
    padding: 10px;

    &--input {
      // background-color: aquamarine;
      height: 50px;
      color: $black;
      box-shadow: $shadow;
      border-radius: 8px;
      vertical-align: middle;
      align-items: center;
      padding-top: 10px;
      margin: 0 7px;
    }
  }
}
// .ant-popconfirm {
//   &-title {
//     color: $main-br-1 !important;
//     width: 400px;
//     margin-bottom: 10px;
//     font: {
//       size: 16px;
//       weight: 300;
//     }
//   }
//   &-description {
//     color: $main-br-1;
//   }
// }
// .ant-btn.css-dev-only-do-not-override-12jzuas.ant-btn-default.ant-btn-sm.ant-btn-default {
//   color: $main-br-1;
//   background-color: $white;
//   border: none;
//   margin: 10px;
//   height: 30px;
//   width: 90px;
//   box-shadow: $shadow;
// }
// .ant-btn.css-dev-only-do-not-override-12jzuas.ant-btn-primary.ant-btn-sm.ant-btn-primary {
//   color: $white;
//   background-color: $main-rb-1;
//   border: none;
//   margin: 10px;
//   height: 30px;
//   width: 90px;
//   box-shadow: $shadow;
// }
