@import './common.scss';

.searchBar {
  padding-left: 100px;
  width: 1300px;
  background-color: $white;
  box-shadow: $shadow;
  &:hover {
    box-shadow: 0px 2px 10px rgba(248, 238, 255, 0.496);
  }
  &__inner {
    width: 1100px;
    height: 100px;
    padding: 50px;
    justify-content: space-between;
    background-color: $white;
  }
  &__input {
    font-size: 20px;
    color: $main-br-1;
    border: none;
    width: 400px;
    height: 40px;
    background-color: $white;
    &::placeholder {
      color: $main-br-3;
    }
  }
}
