@import './common.scss';

.selection {
  display: flex;
  flex-direction: column;
  &__form {
    color: antiquewhite;
    justify-content: center;
    display: grid;
    grid-template-columns: 20% 30% 24% 16%;
    align-items: center;
    width: 800px;
    margin: 10px 0;

    &--input {
      height: 50px;
      color: $black;
      box-shadow: $shadow;
      border-radius: 8px;
      padding: 13px 0;
      margin: 0 10px;
    }
  }
}
