@import './common.scss';

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 50rem;
  padding: 5rem;
  border-radius: 20px;
  &__input {
    border: none;
    padding-left: 30px;
    border-radius: 25px;
    height: 50px;
    box-shadow: $inner-shadow;
  }
}
.btn__sign {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
.title {
  margin-top: 15px;
  color: $main-br-1;
}
